/assets/js/bootstrap.min.js
/assets/js/Chart.min.js
/assets/js/jquery.min.js
/assets/js/jquery.ui.datepicker-pl.js
/assets/js/jquery-ui.min.js
/assets/fonts
/assets/css/bootstrap.min.css
/assets/css/jquery-ui.min.css
/assets/css/jquery-ui.structure.min.css
/assets/css/jquery-ui.theme.min.css
/assets/css/images